@charset "utf-8";
@font-face {
    font-family: StaffMeetingPlain;
    src: url(StaffMeetingPlain.ttf) format('ttf');
}

/*
   Filename: office_styles.css

*/

/* HTML and Body Styles */

html {
    height: 100%;
    background: #FFFAF0;
    font-family: Verdana, Geneva, sans-serif;
    font-size: 12px;
}

body {
   height: 100%;
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row wrap;
   flex-flow: row wrap;   
   background: white;
   max-width: 1024px;
   min-width: 420px;
   margin: 0px auto;
   box-shadow: rgb(51, 51, 51) 10px 10px 25px,  rgb(51, 51, 51) -10px 10px 25px;
}

p {
   font-size: 1.2em;
   line-height: 1.4em;
   margin: 15px;
}

/* Header Styles */

body > header {
    background: url(office_top_test.png) center/cover no-repeat;
    width: 100%;
}

body > header > h1 {
    height: 150px;
    text-align: right;
    padding: 10px;
    font-size: 1.8em;
    color: rgb(90, 57, 57);
    text-shadow: rgb(237, 237, 134) 0px 0px 1px, 
        rgb(237, 237, 134) 0px 0px 2px, 
        rgb(237, 237, 134) 0px 0px 5px, 
        rgb(237, 237, 134) 0px 0px 8px, 
        rgb(237, 237, 134) 0px 0px 10px, 
        rgb(237, 237, 134) 0px 0px 15px;
}


/* Top Navigation Styles */
.navigation {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: center;
    align-items: center;
    height: 40px;
    background: #fff;
    border: solid;
    border-width: 3px;
    border-color: cadetblue;
    border-radius: 10px;
}

:root {
    --clr: cadetblue;
}


.navigation ul {
    margin: auto;
    display: flex;
    width: 350px;
}

.navigation ul li {
    margin: auto;
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}

.navigation ul li a {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

.navigation ul li a .icon {
    position: relative;
    display: block;
    line-height: 40px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
    opacity: 1;
}

.navigation ul li:hover a .icon {
    transform: translateY(-45px);
    opacity: 0;
}

.navigation ul li a .text {
    font-family: StaffMeetingPlain;
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 1.25em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}

.navigation ul li:hover a .text {
    opacity: 1;
    transform: translateY(-5px);
}

.indicator {
    position: absolute;
    top: -70%;
    right: 500px;
    width: 70px;
    height: 70px;
    background: #FFFAF0;
    border-radius: 50%;
    border: 4px solid var(--clr);
    transition: 0.5s;
}

.navigation ul li:nth-child(1).active ~ .indicator {
    transform: translateX(calc(10px * 0));
}

.navigation ul li:nth-child(2).active ~ .indicator {
    transform: translateX(calc(90px * 1));
}

.navigation ul li:nth-child(3).active ~ .indicator {
    transform: translateX(calc(88px * 2));
}

.navigation ul li:nth-child(4).active ~ .indicator {
    transform: translateX(calc(88px * 3));
}

/* Article Styles */

article {
   -webkit-flex: 2 1 400px;
   flex: 2 1 400px;
}
   
/* Aside  Styles */

aside {
    height: 100%;
    background-color: #0aaadb;
    color: rgb(96, 96, 28);
    -webkit-flex: 1 2 200px;
    flex: 1 2 200px;
    overflow-y: scroll;
}

aside h1 {
   font-size: 1.6em;
   font-weight: bold;
   letter-spacing: 0.1em;
   line-height: 1em;
   text-align: center;
   margin: 20px 0px 5px;
}

aside h2 {
   text-align: center;
   font-size: 1.2em;
   margin-bottom: 15px;
}

aside a {
   color: rgb(234, 44, 234);
}

div.gallery {
    margin: auto 25%;
    float: left;
    width: 180px;
}

div.gallery:hover {
    border: 1px solid #777;
}

div.gallery img {
    width: 100%;
    height: auto;
}

div.desc {
    padding: 15px;
    text-align: center;
}

/* Description List Styles */

dl {
   text-align: left;
   padding: 0px 15px;
}

dt {
   font-size: 1.2em;
   font-weight: bold;
   margin-top: 20px;
   border-top: 1px solid rgb(78, 78, 28);
   padding-top: 5px;
}

dd {
   margin: 10px 0px;
}

dd p {
   margin: 0px 0px 5px 10px;
}


/* Footer Styles */

footer {
   width: 100%;
}

footer p {
    color: #3098FA;
    font-size: 0.9em;
    text-align: center;
    background-color: #FFF8DC;
    margin: 0px;
    padding: 10px 0px;
}

footer img {
    width: 10%;
    display: block;
    float: left;
}

/* Bottom Navigation List Styles */

nav#bottom {
    background-color: #3098FA;
    color: rgb(211, 211, 211);
    padding: 15px;
}

nav#bottom ul li {
   font-size: 1em;
   line-height: 1.8em;
}

nav#bottom ul a {
   color: white;
}

/* Bottom Navigation Styles */

nav#bottom {
   display: -webkit-flex;
   display: flex;
   -webkit-flex-flow: row nowrap;
   flex-flow: row nowrap;
   -webkit-justify-content: center;
   justify-content: center;
}

nav#bottom ul {
   flex: 0 1 150px;
}
